<div class="container">
<div class="panel panel-default">
  <div class="panel-body">
	
	<!-- Image -->
  	<div class="row">
  		<div class="col-md-12">
        <div class="col-md-5 product-thumbnail">
  		  <%= image_tag @product_photos[0].image.url(), class: "img-responsive product-hero" if @product_photos.length > 0 %>
        </div>

        <div class="col-md-7">
          <h2 class="product-name"><%= @product.product_name %>&nbsp;(<%= @product.mass %><%= @product.unit_mass %>)</h2>
          <p><%= @product.short_description %></p><br>

          <div class="row text-center row-space-1">
            <div class="col-sm-3">
              <i class="fa fa-money"></i>
              <br>
              Price: <span style="color:#b12704;">RM<%= @product.price %></span>
            </div>
            <div class="col-sm-3">
              <i class="fa fa-shopping-basket"></i>
              <br>
              Type: <%= @product.product_type %>
            </div>
            <div class="col-sm-3">
              <i class="fa fa-map-marker"></i>
              <br>
              Origin: <%= @product.origin %>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="col-md-3 col-sm-3" style="position:relative;top:20px;padding:5px;">
            <div class="btn btn-primary btn-order" style="position:relative;">
              <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;<strong>Add to Cart</strong>
            </div>
          </div>
        </div>
  		</div>
  	</div>


	<!-- About -->
  	<div class="row">
  	  <div class="col-md-12">
  	  	<h3 class="product-heading text-center">Product Description</h3>
  	  	<p class="text-center col-md-8 col-md-offset-2"><%= @product.long_description %></p>
  	  </div>
  	</div>

    
    <div class="row">
      <div class="col-md-12">
        <h3 class="product-heading text-center">About The Seller</h3>
        <div class="col-md-8 col-md-offset-2">
          <div class="text-center"> <%= image_tag user_avatar(@product.user), class: "img-circle avatar-medium" %>&nbsp;&nbsp;<strong><%= link_to @product.user.fullname, user_path(@product.user) %></strong></div>
          <div class="seller-summary text-center">"<%= @product.user.short_summary %>"</div>
        </div>
      </div>
    </div>


  <h3 class="product-heading text-center">More Pictures</h3>
    <!-- Carousel -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
		    <div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->

		    <% if @product_photos %>
		      <ol class="carousel-indicators">
		  	    <% @product_photos.each do |v_photo| %>
		        <li data-target="#myCarousel" data-slide-to="<%= v_photo.id %>"></li>
		        <% end %>
		      </ol>
		    <% end %>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
			<% if @product_photos %>
			  <% @product_photos.each do |photo| %>
		        <div class="item <%= 'active' if photo.id == @product_photos[0].id %>">
		          <div class="product-carousel"><%= image_tag photo.image.url(), class: "img-fluid img-responsive" %></div>
		        </div>
		      <% end %>
		    <% end %>
		  </div>

		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
      </div>
    </div>
	

  </div>
</div>
</div>
